.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px 83px;
  }

  & li {
    list-style-type: none;
  }
}
